# Python
*.pyc
*.so
*.egg-info
*.whl
/dist/

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store

# Type checking
.mypy_cache/
.pytype/

# IDEs and editors
.idea/
.vscode/
.envrc

# Python version (pyenv)
.python-version

# Virtual environments
/venv/
/bin/
/include/
/lib/
/share/
